a {
    color: inherit;
    text-decoration: inherit;
    margin: 5%;
}


.search-form {
    position: relative;
    width: auto;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
}
.search-input {
    /* position: relative;
    top: 8px;
    left: 10px; */
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 270%;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
}
.search-button {
    /* position: relative;
    top: 8px; */
    /* left: 335px; */
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
}
.logo-block {
    display:flex;
    justify-content: center;
}

.dropdown{
    position: relative;
    display: block;
}

.dropdown:hover .dropdown-block{
    display: block;
}

.button-catalog {
    background: rgb(11, 178, 255);
    color: white;
    padding-top: 0.7rem;
    font-size: 100%;
    width: 100%;
    height: 40px;
    text-align:center;
    border-radius: 5px;
    border-style: none;
}

.button-catalog:hover {
    background: rgb(80, 200, 255);
}

.catalog{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-family: "SB Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    line-height: 29px;
    font-size: 2.5vh;
}

.dropdown-flex-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-block{
    display: none;
    position: absolute;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: white;
    width: 300px;
    height: 200px;
}

.search-form-block{
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basket-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basket-button {
    font-size: 100%;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(11, 178, 255);
    border-style: none;
    color:#fff;
}

.basket-button:hover {
    background: rgb(80, 200, 255);
}

.person-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.username-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
}


.mini-text {
    font-size: 100%;
}

.products-text-block{
    position: relative;
    width: 220px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.products-block{
    width: 220px;
    height: 300px;
    max-width: 100%;
}

.products-block:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 5px;
}

.products-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.products-title {
    color:rgb(201, 201, 201);
    font-size:smaller;
}

.products-price {
    display: block;
    margin: 0 auto;
    font-family: "SB Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    line-height: 32px;
    font-size: 2vh;
}

.v-korzinu{
    display:none;
    margin: 0 auto;
    font-family: "SB Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    line-height: 32px;
    font-size: 2vh;
}

.main-button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(11, 178, 255);
    border-style: none;
    color:#fff;
}

.main-button:hover{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(80, 200, 255);
    color:rgb(255, 255, 255);
}

.main-button:hover .products-price{display: none;}

.main-button:hover .v-korzinu{display: block;}

.korzina-summa-zakaza{
    background-color: rgb(216, 243, 255);
    border-radius: 15px;
    height: 160px;
}
